<!-- views/pages/MEET.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
</head>

<body class="container">

    <header>
        <%- include ("../partials/header") %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Meet</h1>

            <%- include ("../partials/filter") %>

            

          <% if(user){ %>  
            <div class="card" style="width:400px">
                <img class="card-img-top" src="/images/users/<%= user.picture %>" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title"><%= user.firstname %> <%= user.lastname %>, <small><%= user.gender %> </small></h4>
                    <p class="card-text">Hi my name is <%= user.firstname %>.<br> I'm <%= user.age %> years old and I'm looking for a <%= user.intent %> partner. <br><br>My interests are: <%= user.interest %></p>
                    <div class="btn-group">
                        <form action="/reject" method="POST"> <input type="hidden" value="<%= user._id %>" name="rejected_user"> <button class="btn btn-danger"><span class="far fa-times-circle"></span></button></form>
                        <form action="/invite" method="POST"> <input type="hidden" value="<%= user._id %>" name="matched_user"> <button  class="btn btn-success"><span class="fas fa-heart"></span></button> </form>
                    </div>
                </div>
            </div>

            <%}else{%>

                <h2>No users found</h2>
            <%}%>

            
            
    </main>

    <footer>
        <%- include ("../partials/footer") %>
    </footer>

</body>

</html>